{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    About Weather
  </h3>
  <div class="section">
    <p>
      This is a simple Weather Station web app where you can add and view stations.
    </p>
  </div>
</section>

