{{> menu active="home"}}

<section class="section has-text-centered">
  <h1 class="title">{{title}}</h1>
  <div class="buttons is-centered">
    <a class="button is-primary" href="/login">Login</a>
    <a class="button is-link" href="/signup">Sign Up</a>
  </div>
</section>

