{{> menu active="home"}}

<section class="section has-text-centered">
  <h1 class="title is-flex is-align-items-center is-justify-content-center">
    <span class="mr-3">
     
      <svg width="44" height="44" viewBox="0 0 24 24" aria-hidden="true" xmlns="http://www.w3.org/2000/svg">
        <path fill="#FACC15" d="M12 3.5a.75.75 0 0 1 .75.75V6a.75.75 0 0 1-1.5 0V4.25A.75.75 0 0 1 12 3.5Zm7.53 8.22a.75.75 0 0 1 .53-.22H22a.75.75 0 0 1 0 1.5h-1.94a.75.75 0 0 1-.53-1.28Zm-16.06 0a.75.75 0 0 1 .53.22.75.75 0 0 1-.53 1.28H1a.75.75 0 0 1 0-1.5h1.94ZM5.47 5.47a.75.75 0 0 1 1.06 0l.97.97a.75.75 0 1 1-1.06 1.06l-.97-.97a.75.75 0 0 1 0-1.06Zm11.03.97.97-.97a.75.75 0 1 1 1.06 1.06l-.97.97a.75.75 0 1 1-1.06-1.06Z"/>
        <path fill="#FACC15" d="M14.75 10a3.75 3.75 0 1 0-7.5 0 3.75 3.75 0 0 0 7.5 0Z"/>
        <path fill="#60A5FA" d="M8.5 14.5a3.5 3.5 0 0 1 6.78-1.27 2.75 2.75 0 1 1 .97 5.27H9.75A3.25 3.25 0 0 1 8.5 14.5Z"/>
      </svg>
    </span>
    Welcome to the Weather Station App!
  </h1>
  <p class="subtitle">Track your local weather stations and submit daily weather reports.</p>
  <a class="button is-primary mt-4" href="/dashboard">Go to Dashboard</a>
</section>
